{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}
{% block style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="mainPart">
        <div class="mainInfo">
            <img src="https://wallpaperaccess.com/full/446984.jpg" alt="">
            <div class="info">
                <h2 class="is-family-secondary">Organitza Torneigos Online!</h2>
                <p>Connecta amb gent <span class="has-text-primary">#WeLoveChess</span></p>
                <button class="button is-primary" style="margin-top: 3%; padding: 1.5%; font-weight: bold;letter-spacing: 1.2px">
                <span class="icon">
                  <i class="far fa-user"></i>
                </span>
                    <span><a style="color:white" href="{{path('user_new')  }}">Registra't</a> </span>
                </button>
            </div>
        </div>
    </div>
    <div class="secondPartTitle" >
        <p class="is-family-code  has-centered-text  ">Explora la nostra Web</p>
    </div>
    <div class="secondPart is-flex is-justify-content-center">

        <div class="container is-flex is-justify-content-space-around" style="width: 85%; color: #393b44">
            <div class="menu1">
                <div>
                    <div class="infoTorneig">
                        <p>Busca torneigos</p>
                        <p>Busca i troba infromació sobre els nostres intents torneigos</p>
                    </div>
                    <div class="torneigButton">
                        <a href="{{ path('torneig_all_public') }}" class="button">
                            <span class="icon">
                              <i class="far fa-trophy"></i>
                            </span>
                            <span>Explorar..</span>
                        </a>
                    </div>
                    <div class="imatgeTorneig is-flex is-justify-content-center">
                        <img src="https://i.postimg.cc/Bvv7TcY4/Pngtree-gold-trophy-icon-trophy-4979039-2.png" alt="" width=200vmin">
                    </div>
                </div>
            </div>
            <div class="menu2">
                <div>
                    <div class="infoTorneig">
                        <p>Busca jugadors</p>
                        <p>Busca i mira informació detallada sobre els jugadors</p>
                    </div>
                    <div class="torneigButton">
                        <a href="{{ path("jugadors") }}" class="button">
                            <span class="icon">
                              <i class="far fa-user" style="font-weight: bold"></i>
                            </span>
                            <span>Explorar..</span>
                        </a>
                    </div>
                    <div class="imatgeTorneig is-flex is-justify-content-center">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/2380/2380289.svg" width=200vmin" >
                    </div>
                </div>
            </div>
            <div class="menu3">
                <div>
                    <div class="infoTorneig">
                        <p>Busca àrbitres</p>
                        <p>Busca i mira informació sobre àrbitres de arreu del món</p>
                    </div>
                    <div class="torneigButton">
                        <a href="{{ path('arbitres') }}" class="button">
                            <span class="icon">
                                <i class="fas fa-user-shield"></i>
                            </span>
                            <span>Explorar..</span>
                        </a>
                    </div>
                    <div class="imatgeTorneig is-flex is-justify-content-center">
                        <img src="https://www.svgrepo.com/show/277600/referee.svg" width="200min">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function (){
            $('.button').hover(function (){
                $(this).children("span").children("i").css('color', 'white');
            });
        });
    </script>
    <style>

        .playerIcon{
            filter:invert(100%);
        }

        .menu1 > div *,.menu2 > div *,.menu3 > div *{
            margin:2%
        }

        .torneigButton > a:hover
        {
            color: white;
        }

        .infoTorneig p
        {
            color: rgba(255,255,255,0.6);
        }

        .button:hover
        {
            border: 1px solid white;
        }

        .icon > i
        {
            font-weight: bold;
            color: black;
        }

        .torneigButton > a
        {
            font-weight: bold;
            letter-spacing: 1.2px;
            background-color: white;
            border:none;
            color:black
        }

        .torneigButton > a:hover
        {
            background-color: black;
            color: white;
            border: none;
        }

        .secondPartTitle{
            background-color: #030303;
            color:white;
            text-align: center;
            font-size: 4vmin;
            padding-bottom:3%;
        }


        .infoTorneig p:first-child
        {
            font-size: 1.5rem;
            font-weight: bold;
            color: #DDDDDD;
        }


        .container > div
        {

            width: 30%;
            padding: 1%;
            background-color: #161b22;
            margin: 1%;
            border-radius: 2%;
            border:1px solid #1E2329;
        }
        .mainPart
        {
            margin:auto;
            width: 100%;
            text-align: center;
            overflow: hidden;
        }

        .secondPart
        {
            background-color: #030303;
            padding-bottom: 10%;
        }

        .mainInfo
        {
            position: relative;
            overflow: hidden;
            background: transparent;
        }

        .mainInfo img
        {
            width: 100%;
        }

        .info
        {
            position: absolute;
            top: 10%;
            width: 100%;
            text-align: center;
        }

        h2
        {
            letter-spacing: 2px;
            color: black;
            text-align: center;
            font-size: 8vmin;
        }

        .info p
        {
            color: rgba(0,0,0,0.8);
            font-size: 30px;
            text-align: center;
        }
    </style>
{% endblock %}